body {
  background: #e3e3e3;
  margin:     70px auto;
  width:      550px;
}

h1 {
  color:        #555;
  font-weight:  normal;
  font-size:    20px;
  font-family:  "Helvetica Neue", Arial, sans-serif;
  line-height:  20px;
  margin:       0 0 40px 0;
  text-align:   center;
  text-shadow:  rgba(255,255,255, 0.9) 1px 1px 0;
}

ul {
  list-style: none;
  margin:     0;
}

ul li {
  float:    left;
  height:   100px;
  margin:   0 30px 30px 0;
  position: relative;
  width:    135px;
}

ul li a {
  background:   #fff;
  display:      block;
  position:     absolute;
  padding:      10px;
  width:        110px;
  -webkit-box-shadow:   0px 0px 3px 0 rgba(0,0,0,.3);
  -moz-box-shadow:   0px 0px 3px 0 rgba(0,0,0,.3);
  -o-box-shadow:   0px 0px 3px 0 rgba(0,0,0,.3);
  box-shadow:   0px 0px 3px 0 rgba(0,0,0,.3);
  -webkit-transform:    rotate(-4deg);
  -moz-transform:    rotate(-4deg);
  -o-transform:    rotate(-4deg);
  transform:    rotate(-4deg);
}

ul li a:hover {
  -webkit-box-shadow:   0px 0px 4px 0 rgba(0,0,0,.6);      
  -moz-box-shadow:   0px 0px 4px 0 rgba(0,0,0,.6);      
  -o-box-shadow:   0px 0px 4px 0 rgba(0,0,0,.6);      
  box-shadow:   0px 0px 4px 0 rgba(0,0,0,.6);      
  -webkit-transform: translate(15px,-25px) rotate(4deg) scale(1.05);
  -moz-transform: translate(15px,-25px) rotate(4deg) scale(1.05);
  -o-transform: translate(15px,-25px) rotate(4deg) scale(1.05);
  transform: translate(15px,-25px) rotate(4deg) scale(1.05);
}

ul li:nth-child(even) a {
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  transform: rotate(6deg);
}

ul li:nth-child(even) a:hover {
  -webkit-transform: translate(-10px,-10px) rotate(-10deg) scale(1.05);
  -moz-transform: translate(-10px,-10px) rotate(-10deg) scale(1.05);
  -o-transform: translate(-10px,-10px) rotate(-10deg) scale(1.05);
  transform: translate(-10px,-10px) rotate(-10deg) scale(1.05);
}

ul li a img {
  border:   0;
  display:  block;
  height:   73px;
  width:    110px;
  margin:   0;      
}

ul li:before, ul li:after {
  background: #999;
  background-repeat: no-repeat;
  border:     10px solid #fff;
  content:    '';
  display:    block;
  position:   absolute;
  height:     73px;
  width:      110px;
  -webkit-box-shadow:  0px 0px 3px 0 rgba(0,0,0,.3);
  -moz-box-shadow:  0px 0px 3px 0 rgba(0,0,0,.3);
  -o-box-shadow:  0px 0px 3px 0 rgba(0,0,0,.3);
  box-shadow:  0px 0px 3px 0 rgba(0,0,0,.3);
}

ul li:before {
  z-index: -1;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -transform: rotate(2deg);
}

ul li:nth-child(even):before {
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

ul li:hover:before {
  -webkit-transform: translate(-5px,-5px) rotate(-5deg);
  -moz-transform: translate(-5px,-5px) rotate(-5deg);
  -o-transform: translate(-5px,-5px) rotate(-5deg);
  transform: translate(-5px,-5px) rotate(-5deg);
  
}
ul li:nth-child(even):hover:before {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
}

ul li:after {
  z-index: -2;
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  transform: rotate(6deg);
}

ul li:hover:after {
  -webkit-transform: translate(5px,0) rotate(10deg);
  -moz-transform: translate(5px,0) rotate(10deg);
  -o-transform: translate(5px,0) rotate(10deg);
  transform: translate(5px,0) rotate(10deg);
}

ul li:nth-child(even):after {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

ul li:nth-child(even):hover:after {
  -webkit-transform: translate(5px,0) rotate(-12deg);
  -moz-transform: translate(5px,0) rotate(-12deg);
  -o-transform: translate(5px,0) rotate(-12deg);
  transform: translate(5px,0) rotate(-12deg);
}


ul li a, ul li:before, ul li:after {
  -webkit-transition: all 0.3s ease-out;    
  -moz-transition: all 0.3s ease-out;    
  -o-transition: all 0.3s ease-out;    
  transition: all 0.3s ease-out;    
}